*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.main-h{
    background-image: url(./12.jpg) ;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.text{
    position: relative;
    top: 40%;
}

.text h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.text button{
    outline: none;
    border: 1px solid #ddd7d741;
    width: 100px;
    padding: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
}

.text button:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}